
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

:root {
    --purple: #8F3262;
    --lightgreen: #cef67d;
    --limegreen: #AFEE30;
  }

body, html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #777;
    background-color:#efefef;
  }

  .container{
      background-color:#FFF;
  }

  .navbar-trans {
    background: transparent;
}

.navbar ul{
    display:flex;
    justify-content: space-between;
    margin-left:5rem;
    width:80%;
}

.nav-item button:hover{
    color:var(--purple);
}

.dropdown-toggle{
  background-color: var(--limegreen);
  color:#FFF;
}

a.logo:hover,
a.logo:active,
a.logo:focus {
    text-decoration: none;
}

.jumbotron{
    background: url('../img/friends_sc.jpg') no-repeat center center;
    background-color: var(--purple);
    background-size: cover;
    padding:0!important;
    height: 500px;
}

.jumbotron{
    text-shadow: 0px 2px 3px rgba(102,36,70,0.65), 
	0px 8px 13px rgba(102,36,70,0.25),
	0px 18px 23px rgba(102,36,70,0.1);
}

.jumbotron h1{
    font-size: 3.5rem;
    padding: 4rem 0 0 5rem;
    color:#FFF;
}

.jumbotron h4{
    font-weight: 300;
    color: #FFF;
    width: 334px;
    text-align: center;
    margin-left: 3.9rem;
}

.map-area h5{
    color: var(--purple);
    line-height: 1.75;
    text-align: center;
}

.map-area p{
    line-height: 1.75;
}

.btn-outline-secondary{
    border-color:var(--purple);
    color:var(--purple);
}

/*cef67d*/

.img-bg-1{
    position: relative;
    background: url('../img/location.jpg') no-repeat center center;
    background-size:cover;
    overflow: hidden;
    height:350px;
}

/* .img-bg-1:after { 
    content: '';
    position: absolute;
    left: 49%;
    width: 100%;
    height: 200%;
    background-color: rgb(255, 255, 255);
    background-color:rgba(51,51,51,.75);
    top: 0;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
} */

.img-bg-2{
    position: relative;
    background: url('../img/experience-search.jpg') no-repeat center center;
    background-size:cover;
    overflow: hidden;
    height:350px;
}

/* .img-bg-2:before { 
    content: '';
    position: absolute;
    left: -44%;
    width: 100%;
    height: 200%;
    background-color: rgb(255, 255, 255);
    background-color:rgba(51,51,51,.75);
    top: 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
} */

.w-search{
    width: calc(100% - 85px)!important;
}

.one{
    background-color: var(--lightgreen);
    background-image: -webkit-linear-gradient(30deg, #cef67d 50%, #4CBFFF 50%);
  }
  .two{
    background-color: #34ADFF;
    background-image: -webkit-linear-gradient(150deg, #34ADFF 35%, #4CBFFF 35%);
    min-height: 400px;
  }



  .footer {
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    color: var(--lightgreen);
  }
  