
.navbar{
    padding: 0 5rem;
}

.cover-photo{
    position: relative;
    height:255px;
}

.profile-img{
    position: absolute;
    left: -17px;
    bottom: -22px;
    width: 275px;
    height: 275px;
    transform: rotate(-5deg);
    box-shadow: 0 2px 10px rgba(0,0,0,.5);
}

.profile-img-sm{
    width: 255px;
    height: 255px;
    box-shadow: 0 2px 10px rgba(0,0,0,.5);
}

.ml-300{
    margin-left:300px;
}

ul{
    list-style-type: none;
    -webkit-padding-start: 20px;
}

.tab-content{
    padding: 1rem;
    height: 455px;
    overflow: scroll;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
  }
  .star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
  }
  
  